.navigation{
    display: flex;
    height: 10vh;
    border: 1px black solid;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.ikona{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(177, 174, 174);
    border: white 0px solid;
}